html {
    background-color: #5aa2c4;
}

.main-title {
    color: #ecf4f8;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#video-container {
    margin: auto;
    width: 500px;
    height: 300px;
    position: relative;
}

#video-holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

#my-video {
    width: 100% !important;
    height: 100% !important;
}

#crop-selector-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#resizable {
    border: 1px dotted blue;
    background: transparent;
    width: 100%;
    height: 100%;
}