* {
    box-sizing: unset !important;
}

body {
    background-color: #5256ad;
}

.main-title {
    color: #ecf4f8;
    margin-top: 20px;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

.drag-area {
    margin: auto;
}

#video-container,
#tool-panel {
    width: 590px;
}

#video-container {
    height: 340px;
    margin: auto;
    position: relative;
    border: 1px dashed #97C5DC;
    border-radius: 4px;
}

#video-holder,
#crop-selector-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#my-video {
    width: 100% !important;
    height: 100% !important;
}

#tool-panel {
    margin: auto;
    padding-top: 10px;
}

.asRange {
    width: 100%;
}

#player-slider-container,
#trimmer-slider-container {
    padding: 15px;
}

#operation-buttons-container,
#player-buttons-container {
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    justify-content: center;
}

#player-buttons-container {
    margin-top: 10px;
}

button {
    margin: 3px;
}