body {
    background-color: #5256ad;
}

.main-title {
    color: #ecf4f8;
    margin-top: 20px;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

.drag-area {
    margin: auto;
}

#operation-buttons-container,
#player-buttons-container {
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    justify-content: center;
}

#player-buttons-container {
    margin-top: 10px;
}

.pheasant-demure-button {
    margin: 3px;
}