* {
    box-sizing: unset;
}

#resizable {
    border: 1px dotted #649ddf;
    background: transparent;
    width: 100%;
    height: 100%;
}

.ui-resizable-ne,
.ui-resizable-se,
.ui-resizable-sw,
.ui-resizable-nw,
.ui-resizable-w,
.ui-resizable-s,
.ui-resizable-e,
.ui-resizable-n {
    width: 8px;
    height: 8px;
    background-color: #649ddf;
}

.ui-resizable-se.ui-icon {
    background-image: none;
}

.ui-resizable-e,
.ui-resizable-se,
.ui-resizable-ne {
    right: -1px;
}

.ui-resizable-s,
.ui-resizable-se,
.ui-resizable-sw {
    bottom: -1px;
}

.ui-resizable-w,
.ui-resizable-nw,
.ui-resizable-sw {
    left: -1px;
}

.ui-resizable-n,
.ui-resizable-ne,
.ui-resizable-nw {
    top: -1px;
}

.ui-resizable-w,
.ui-resizable-e {
    top: calc(50% - 4px);
}

.ui-resizable-s,
.ui-resizable-n {
    left: calc(50% - 4px);
}

.asRange-pointer-1,
.asRange-pointer-2 {
    cursor: pointer;
}

.video-time-textbox {
    width: 150px;
    padding: 2px 20px 2px 7px;
    margin: 7px;
    background: transparent;
    border: 2px solid #cfcdc7;
    line-height: 1.5;
    border-radius: 7px;
    color: #cfcdc7;
}

.video-time-textbox:focus-visible {
    outline: none !important;
}

#player-full-time,
#trimmer-end-time {
    float: right;
}

.video-time-textbox[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.video-time-textboxt[type=number]::-webkit-inner-spin-button,
.video-time-textbox[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#video-container,
#tool-panel {
    width: 590px;
}

#video-container {
    height: 340px;
    margin: auto;
    position: relative;
    border: 1px dashed #97C5DC;
    border-radius: 4px;
    box-sizing: border-box;
}

#video-holder,
#crop-selector-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#my-video {
    width: 100% !important;
    height: 100% !important;
}

#tool-panel {
    margin: auto;
    padding-top: 10px;
}

.asRange {
    width: 100%;
}

#player-slider-container,
#trimmer-slider-container {
    padding: 15px;
}